.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  color: var(--color-gray);
  font-size: 14px;
}

.blue {
  color: var(--color-blue);
}

.gray {
  color: var(--color-gray);
}

.red {
  color: var(--color-red);
}

.spinner {
  font-size: 16px;
  animation: rotate 700ms ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
