.section {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
}

.header {
  flex-shrink: 0;
  flex-grow: 0;
}

.content {
  position: relative;
  flex-grow: 1;
  padding: 8px;
  border-radius: 16px;
  border: 1px solid var(--color-border);
  overflow: auto;
}

.content::-webkit-scrollbar {
  display: none !important;
}

.scroll-button-wrapper {
  position: sticky;
  bottom: 24px;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.scroll-button {
  --button-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  border: 1px solid var(--color-border);
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  column-gap: 16px;
  align-items: flex-start;
}

.textarea {
  --line-count: 3;
  --padding: calc(16px * 2);
  --content: calc(16px * 1.25 * var(--line-count));
  --textarea-height: calc(var(--padding) + var(--content));

  resize: none;
  flex-grow: 1;
  width: 100%;
  height: var(--textarea-height);
  padding: 16px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: all 150ms ease-in-out;
}

.textarea:not(:disabled):focus {
  border-color: var(--color-brand);
}

.textarea::placeholder {
  color: var(--color-border);
}

.textarea:disabled {
  background-color: var(--color-background-dark);
  cursor: not-allowed;
}

.submit-button {
  flex-grow: 0;
  flex-shrink: 0;
  width: 140px;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}
