@import url('@/assets/styles/normalize.css');
@import url('@/assets/styles/reset.css');
@import url('@/assets/styles/global.css');

#root {
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

/* Color Variables */
:root {
  --color-background: #242424;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-border: rgba(255, 255, 255, 0.24);
  --color-brand: #00dcf0;
  --color-blue: #646cff;
}

:root.light {
  --color-background: #ffffff;
  --color-text: #213547;
  --color-border: rgba(33, 53, 71, 0.24);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-background: #ffffff;
    --color-text: #213547;
    --color-border: rgba(33, 53, 71, 0.24);
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
